.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__google_sheets/credentials.json
accounts_manager/google_sheets/credentials.json
accounts_manager/google_sheets/credentials.json
accounts_manager/google_sheets/credentials.json
